﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Institution : </strong>Haute Ecole de la Province de Liège<br />
    <strong>Option : </strong>Informatique et systèmes - Réseaux et télécommunication<br />
    <strong>Groupe : </strong>2327

</address>


<address>
    <strong>Etudiants :</strong><br/>
    - <a href="mailto:stephanie.bemelmans@student.hepl.be">stephanie.bemelmans@student.hepl.be</a><br />
    - <a href="mailto:thomas.dethier@student.hepl.be">thomas.dethier@student.hepl.be</a>
</address>