﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Programmation .NET : movies web</h1>
    <p class="lead">Application ASP .NET développée dans le cadre du cours de programmation .NET pour l'examen de janvier 2019.</p>
    <div class="customRow"><button class="customLinker">@Html.ActionLink("Application >>", "Movies", "Movie")</button></div>
    
</div>
