﻿.customListMovie{
    border-style: double ;
}
.customListMovie th {
    border-style:groove ;
    border-bottom-style : double ;
    text-align : center ;
    background-color : slategrey ;
}
.customListMovie td {
    border-style : groove ;
    text-align : center ;
    background-color : lightgray ;
}

.customTitle {
    width : 400px ;
}

.customRuntime {
    width: 200px;
}

.customRating {
    width: 400px;
}

.customMore {
    width: 200px;
}


.customMainTitle {
    text-align: center;
}


.customMainLayout {
    width : 100% ;
    border-style : ridge ;
    text-align : center ;
    align-content :center ;
    align-items : center ;
}

.customRow {
    text-align : center ;
}

.customLinker{
    text-decoration : none ;
    color : darkslategray;
    align-content : center ;
    text-align : center ;
    width : 20% ;
}

#customMainNewComment {
    text-align: center;
    width : 50% ;
    background-color : lightgray ;
    padding: 30px;
    margin: 30px;
    margin-left : 25% ;
    border-radius : 5px; 
}

#customMainNewComment input{
    width : 300px ; 
    text-align : center ;
    margin-bottom : 10px ;
}

    #customMainNewComment textarea {
        width: 300px;
        height: 100px;
        margin-bottom: 10px;
    }

.customDetailsResume{
    border-style : double ;
    padding : 30px ;
    
}

.customDetails {
    text-align: left;
    width : 80% ;
    border-style : double ;
    padding: 30px;
    height : 100% ;
    margin-top : 0px ;
    float : right ;
}
.customImage {
    width : 40% ;
    padding : 500px ;
    margin : 0px ;
    background-color : gray ;
    float : left ;
}

.customActors {
    border-style: double;
    padding: 30px;
}

.customDetailTitles{
    padding : initial ;
    margin : initial; 
    margin-bottom : 30px;
    background-color : slategray ;
    text-align : center ; 
}

.customListScrollable {
    height : 400px ;
    overflow-y : scroll ;
    background-color : lightgrey;
    border-style : groove ;
}

.customComment {
    border-style : groove ;
    margin : 5px ;
    padding : 5px ;
    
}
.customCommentContent {
    background-color: white;
    padding: 5px;
    margin: 5px;
    text-align: justify;
}
#customListeComment li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#customListeComment {
    list-style: none;
    margin: 0px;
    padding : 0px;
}
#customCommentTitle {
    background-color: slategray;
    text-align: center;
    margin-bottom : 30px;
}

.customCommentDate {
    float: right;
    margin-right: 5px;
}

.customStars{
    margin-left : 5px ;
}

.customCommentName{
    display:block ;
    float : left ;
    margin-left : 5px ;
    width : 150px;
}