﻿@model IEnumerable<WebFilms.Models.CommentModel>
@{
    ViewBag.Title = "Comments";
    int idFilm = Model.First().Idfilm;
}



<h1>@ViewBag.Title</h1>

<div>
    <p>@Html.ActionLink("Ajouter un commentaire", "New", new { idMovie = @idFilm })</p>

    <h3>Commentaires :  </h3>
    <div class="customListScrollable">
        <ul id="customListeComment">
            @foreach (var item in Model)
            {
                if (item.Content.Equals("CHECKUP_ADMIN"))
                {
                    <a>No comment yet.</a>
                }
                else
                {
                    <li>
                        <div class="customComment">
                            <div>
                                <div class="customCommentDate">@Html.DisplayFor(modelItem => item.Date)</div>
                                <strong class="customCommentName">@Html.DisplayFor(ModelItem => item.Avatar) :    </strong>
                                <img class="customStars" src="@Html.DisplayFor(modelItem => item.Star1)" />
                                <img src="@Html.DisplayFor(modelItem => item.Star2)" />
                                <img src="@Html.DisplayFor(modelItem => item.Star3)" />
                                <img src="@Html.DisplayFor(modelItem => item.Star4)" />
                                <img src="@Html.DisplayFor(modelItem => item.Star5)" />
                            </div>
                            
                            <div class="customCommentContent">@Html.DisplayFor(ModelItem => item.Content)</div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
    <br />
    <p>@Html.ActionLink("Retour", "Detail", "DetailMovie", new { id = @idFilm }, null)</p>
</div>

