﻿@model WebFilms.Models.CommentModel 
@{
    ViewBag.Title = "Ajouter un commentaire";
    int idFilm = Model.Idfilm;
}

<h2 id="customCommentTitle">@ViewBag.Title</h2>
<div class="customMainLayout">
    <div id="customMainNewComment">
        @using (Html.BeginForm("Edit", "Comments"))
        {
            <div>
                <label for="Avatar"><strong>Utilisateur</strong></label>
                <br />
                @Html.TextBoxFor(m => m.Avatar, new { @class = "customControl" })
            </div>
            <div>
                <label for="Rate"><strong>Note</strong></label>
                <br />
                @Html.TextBoxFor(m => m.Rate, new { @class = "customControl" })
            </div>
            <div>
                <label for="Content"><strong>Contenu</strong></label>
                <br />
                @Html.TextAreaFor(m => m.Content, new { @class = "customControl" })
            </div>
            <div>
                @Html.HiddenFor(m => m.Idfilm, @idFilm)
                <input type="submit" value="Ajouter" />
            </div>
        }
    </div>
</div>

