﻿@model WebFilms.Models.FullFilmModel
@{
    ViewBag.Title = "Détails";
}

<h1>@ViewBag.Title</h1>


<div class="customDetailsResume">
    <h2 class="customDetailTitles"><strong>@Html.DisplayFor(Model => Model.Title)</strong></h2>
    <div class="customDetails">
        <p><strong>Genres :</strong></p>
        <ul>
            @foreach (var item in Model.Types)
            {
                <li>@Html.DisplayFor(Model => item.Name)</li>
            }
        </ul>
        <p><strong>Runtime : </strong>@Html.DisplayFor(Model => Model.RuntimeString)</p>
        <p>
            <strong>Rating : </strong>
            <img src="@Html.DisplayFor(Model => Model.Star1)" />
            <img src="@Html.DisplayFor(Model => Model.Star2)" />
            <img src="@Html.DisplayFor(Model => Model.Star3)" />
            <img src="@Html.DisplayFor(Model => Model.Star4)" />
            <img src="@Html.DisplayFor(Model => Model.Star5)" />
        </p>
        <p>@Html.ActionLink("Voir les commentaires", "Comments", "Comments", new { idMovie = Model.Id }, null)</p>
    </div>
    <div id="customImage">
        <img  src=@Html.DisplayFor(Model => Model.PosterPath) />
    </div>
</div>
<br />
<div class="customActors">
    <h2 class="customDetailTitles"><strong>Actors</strong></h2>
    <div class="customListScrollable">
        <ul>
            @foreach (var item in Model.Actors)
            {
                <li>@Html.DisplayFor(Model => item.Name)</li>
            }
        </ul>
    </div>
        
</div>
