﻿@model IEnumerable<WebFilms.Models.FilmModel>
@{
    ViewBag.Title = "Movies";
}

<div class="customMainTitle">
    <h1>Movies web</h1>
</div>

<div class="row">
    <div class="jumbotron">

        <table class="customListMovie">
            <tr>
                <th class="customTitle"><strong>@Html.DisplayNameFor(Model => Model.Titre)</strong></th>
                <th class="customRuntime"><strong>@Html.DisplayNameFor(Model => Model.Runtime)</strong></th>
                <th class="customRating"><strong>@Html.DisplayNameFor(Model => Model.Rating)</strong></th>
                <th class="customMore"></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="customTitle">
                        @Html.DisplayFor(modelItem => item.Titre)
                    </td>
                    <td class="customRuntime">
                        @Html.DisplayFor(modelItem => item.RuntimeString)
                    </td>
                    <td class="customRating">
                        <img src="@Html.DisplayFor(modelItem => item.Star1)" />
                        <img src="@Html.DisplayFor(modelItem => item.Star2)" />
                        <img src="@Html.DisplayFor(modelItem => item.Star3)" />
                        <img src="@Html.DisplayFor(modelItem => item.Star4)" />
                        <img src="@Html.DisplayFor(modelItem => item.Star5)" />
                    </td>
                    <td class="customMore">
                        @Html.ActionLink("More...","Detail" ,"DetailMovie", new { id = item.Id },null)
                    </td>
                </tr>
            }
        </table>

        <div class="customRow">
            <br />
            @if (Model.First().Colonne > 1)
            {
                <a>@Html.ActionLink("Précédent", "Precedent", new { debut = Model.First().Colonne })</a>
            }
            ...
            @if (Model.Count() >= 9)
            {
                <a>@Html.ActionLink("Suivant", "Next", new { debut = Model.First().Colonne })</a>
            }

        </div>

    </div>
</div>